.footer {
    width: 100%;
    background-color: transparent;
    color: #888;
    padding: 2rem 1rem;
    text-align: center;
    margin-top: 2rem;
    border-top: 1px solid #eee;
}

.container {
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
    font-size: 0.875rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}