.header {
    width: 100%;
    background-color: transparent;
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
}

.container {
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
}

.logo {
    font-weight: 700;
    font-size: 1.125rem;
    color: #111;
    text-decoration: none;
    letter-spacing: 0.1em;
    display: block;
}

.egeHeader {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border-bottom: 4px solid #000;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.icon {
    width: 3rem;
    height: 3rem;
    background-color: #000;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-shrink: 0;
}

.title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #0f172a;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.subtitle {
    font-size: 0.75rem;
    color: #64748b;
    text-transform: uppercase;
}

.info {
    text-align: right;
    display: none;
}

@media (min-width: 768px) {
    .info {
        display: block;
    }
}

.info-title {
    font-size: 0.875rem;
    font-weight: 700;
    color: #111;
}

.info-subtitle {
    font-size: 0.75rem;
    color: #64748b;
}