.start-exam-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.loader {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}