.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.outlet {
    flex-grow: 1;
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.loader {
    width: 100%;
    padding: 4rem;
    text-align: center;
    font-size: 1.25rem;
    color: #888;
}